@media (min-width: 1200px) {
	dd::before {
		content: ": ";
	}
}

.price .card {
	height: 500px;
}

#formWakili{
	transition: .5s;
}

#tombolKonfirmasi, #pesanKonfirmasi{
	transition: 5s;
}

.aturan-pesan{
	display: block;
	margin-bottom: 4px;
	font-size: 1.5em;
}

code{
	padding: 0 4px;
	border: 1px solid #aaa;
	background-color: #eee;
	color: red;
}